.octopod_device_name {
  text-overflow: ellipsis;
}

.octopod_device_registered {
  width: 130px;
}

.octopod_device_printer {
  text-overflow: ellipsis;
}

td.octopod_device_action, th.octopod_device_action {
  width: 70px;
  text-align: center;
  white-space: nowrap;
}

.octopod_ifttt_event_name {
  text-overflow: ellipsis;
  width: 130px;
}

.octopod_ifttt_event_value1 {
  width: 130px;
}

.octopod_ifttt_event_value2 {
  width: 130px;
}

input.radio {
  margin-bottom: 5px;
}

label.radio_label {
  display: inline;
  padding-right: 10px;
}
